OPENWEATHER_API_KEY="GET_YOUR_OWN_API_KEY_HERE"
DAILY_REQUEST_LIMIT=999 # Set your daily request limit
DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/weatherapp # Update with your actual database credentials



